@{
    ViewBag.Title = "cartUpdate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Nazirandco.Models.cart

<!DOCTYPE html>
<html>

<body>
	
	<!-- products-top -->
	<div class="products-top">
		<!-- container -->
		<div class="container">
			<h3 class="wow fadeInRight animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">Update Cart Product</h3>
			<h5 class="wow fadeInRight animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">We Provide you best quality products.<span>Grow your crops with best products.</span></h5>
			<div class="products-top-grids wow fadeInLeft animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
                <div class="col-md-6 contact-form wow fadeInRight animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
                <form action ="../UpdateItem/@Model.cart_id" method ="post">
                        
                        <br />
                        <br />
						<input type="text" value ="@Model.name"  required="" name ="namP">

                       
                        <input type="text" value ="@Model.type" required="" name ="typeP">
                                                             
                        
                         


						
						<input type="submit" value="Update" >  
                        <br />
                        <br />
					</form>
                 </div>
                </div>
		</div>
		<!-- container -->
 	</div>
	<!-- //products-top -->
	<!-- products-bottom -->
	<div class="products-bottom">
		<!-- container -->
		<div class="container">
			<h3 class="wow fadeInRight animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">Recent Products</h3>
			<div class="products-bottom-grids">
				<div class="gallery-grids">
					<div class="gallery-grid wow bounceIn animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
						 <a class="fancybox" href="~/Content/images/6-.jpg" data-fancybox-group="gallery"><img src="~/Content/images/6.jpg" class="img-style row6" alt=""><span> </span></a>					
					</div>
					<div class="gallery-grid1 wow bounceIn animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
						<a class="fancybox" href="~/Content/images/8-.jpg" data-fancybox-group="gallery"><img src="~/Content/images/8.jpg" class="img-style row6" alt=""><span> </span></a>
					</div>
					<div class="gallery-grid wow bounceIn animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
						<a class="fancybox" href="~/Content/images/5-.jpg" data-fancybox-group="gallery"><img src="~/Content/images/5.jpg" class="img-style row6" alt=""><span> </span></a>
					</div>
					<div class="gallery-grid1 wow bounceIn animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
						<a class="fancybox" href="~/Content/images/9-.jpg" data-fancybox-group="gallery"><img src="~/Content/images/9.jpg" class="img-style row6" alt=""><span> </span></a>
					</div>
					<div class="gallery-grid wow bounceIn animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
						<a class="fancybox" href="~/Content/images/10-.jpg" data-fancybox-group="gallery"><img src="~/Content/images/10.jpg" class="img-style row6" alt=""><span> </span></a>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="gallery-grids">
					<div class="gallery-grid wow bounceIn animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
						 <a class="fancybox" href="~/Content/images/6-.jpg" data-fancybox-group="gallery"><img src="~/Content/images/6.jpg" class="img-style row6" alt=""><span> </span></a>					
					</div>
					<div class="gallery-grid wow bounceIn animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
						<a class="fancybox" href="~/Content/images/5-.jpg" data-fancybox-group="gallery"><img src="~/Content/images/5.jpg" class="img-style row6" alt=""><span> </span></a>
					</div>
					<div class="gallery-grid1 wow bounceIn animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
						<a class="fancybox" href="~/Content//8-.jpg" data-fancybox-group="gallery"><img src="~/Content/images/8.jpg" class="img-style row6" alt=""><span> </span></a>
					</div>
					<div class="gallery-grid wow bounceIn animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
						<a class="fancybox" href="~/Content//10-.jpg" data-fancybox-group="gallery"><img src="~/Content/images/10.jpg" class="img-style row6" alt=""><span> </span></a>
					</div>
					<div class="gallery-grid1 wow bounceIn animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
						<a class="fancybox" href="~/Content//9-.jpg" data-fancybox-group="gallery"><img src="~/Content/images/9.jpg" class="img-style row6" alt=""><span> </span></a>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
		<!-- //container -->
	</div>
	<!-- products-bottom -->
	
	<div class="copyright">
		<!-- container -->
		<div class="container">
			<div class="copyright-left wow fadeInLeft animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
				<p>Copyrights © 2016 <a href="http://www.nazirandco.org/areeba/"> Areeba Ilyas </a>
			</div>
			<div class="copyright-right wow fadeInRight animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
				<ul>
					<li><a href="#" class="twitter"> </a></li>
					<li><a href="#" class="twitter facebook"> </a></li>
					<li><a href="#" class="twitter chrome"> </a></li>
					<li><a href="#" class="twitter pinterest"> </a></li>
					<li><a href="#" class="twitter linkedin"> </a></li>
					<li><a href="#" class="twitter dribbble"> </a></li>
				</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
		<!-- //container -->
	</div>
</body>
</html>