@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
    }
@using Nazirandco.Models;


<!DOCTYPE html>
<html>

<body>
	
	<!-- products-top -->
	<div class="products-top">
		<!-- container -->
		<div class="container">
			<h3 class="wow fadeInRight animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">Available Products</h3>
			<h5 class="wow fadeInRight animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">We Provide you best quality products.<span><a href="~/User/MyCart/@Session["userId"]"><b>My Cart</b></span></a></h5>
			<div class="products-top-grids wow fadeInLeft animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
				<div class="col-md-4 products-grid">
					<div class="products-number">
						<p>1.</p>
					</div>
					<div class="products-text">
                      
						<h4><a href="~/User/Fertilizers/@Session["userId"]">Fertilizers</a></h4>
						<p>Fertilizers are made of nutrients, such as nitrogen and phosphorus. When it rains, these nutrients are carried by stormwater into the nearest stream, river, or other water body.</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-4 products-grid">
					<div class="products-number">
						<p>2.</p>
					</div>
					<div class="products-text">
                         
						<h4><a href="~/User/Seeds/@Session["userId"]">Seeds</a></h4>
						<p> Seeds can be placed in farmland by right-clicking, where they will grow through eight stages. When left alone, seeds planted on farmland will grow to become wheat which can be harvested by the player. Planted seeds need at least a light level of 9 in the block above them to grow or be exposed to the sky.</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-4 products-grid">
					<div class="products-number">
						<p>3.</p>
					</div>
					<div class="products-text">
                         
						<h4><a href="~/User/pesticides/@Session["userId"]">Pesticides</a></h4>
						<p>Pesticides are any substance or mixture of substances intended for preventing or destroying pests.</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="products-top-grids wow fadeInRight animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
				<div class="col-md-4 products-grid">
					<div class="products-number">
						<p></p>
					</div>
					<div class="products-text">
						<h4></h4>
					
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-4 products-grid">
					<div class="products-number">
						<p></p>
					</div>
					<div class="products-text">
						
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-4 products-grid">
					<div class="products-number">
						<p></p>
					</div>
					<div class="products-text">
						
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<!-- container -->
 	</div>
	<!-- //products-top -->
	<!-- products-bottom -->
	<div class="products-bottom">
		<!-- container -->
		<div class="container">
			<h3 class="wow fadeInRight animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">Recent Products</h3>
			<div class="products-bottom-grids">
				<div class="gallery-grids">
					<div class="gallery-grid wow bounceIn animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
						 <a class="fancybox" href="~/Content/images/6-.jpg" data-fancybox-group="gallery"><img src="~/Content/images/6.jpg" class="img-style row6" alt=""><span> </span></a>					
					</div>
					<div class="gallery-grid1 wow bounceIn animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
						<a class="fancybox" href="~/Content/images/8-.jpg" data-fancybox-group="gallery"><img src="~/Content/images/8.jpg" class="img-style row6" alt=""><span> </span></a>
					</div>
					<div class="gallery-grid wow bounceIn animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
						<a class="fancybox" href="~/Content/images/5-.jpg" data-fancybox-group="gallery"><img src="~/Content/images/5.jpg" class="img-style row6" alt=""><span> </span></a>
					</div>
					<div class="gallery-grid1 wow bounceIn animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
						<a class="fancybox" href="~/Content/images/9-.jpg" data-fancybox-group="gallery"><img src="~/Content/images/9.jpg" class="img-style row6" alt=""><span> </span></a>
					</div>
					<div class="gallery-grid wow bounceIn animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
						<a class="fancybox" href="~/Content/images/10-.jpg" data-fancybox-group="gallery"><img src="~/Content/images/10.jpg" class="img-style row6" alt=""><span> </span></a>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="gallery-grids">
					<div class="gallery-grid wow bounceIn animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
						 <a class="fancybox" href="~/Content/images/6-.jpg" data-fancybox-group="gallery"><img src="~/Content/images/6.jpg" class="img-style row6" alt=""><span> </span></a>					
					</div>
					<div class="gallery-grid wow bounceIn animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
						<a class="fancybox" href="~/Content/images/5-.jpg" data-fancybox-group="gallery"><img src="~/Content/images/5.jpg" class="img-style row6" alt=""><span> </span></a>
					</div>
					<div class="gallery-grid1 wow bounceIn animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
						<a class="fancybox" href="~/Content//8-.jpg" data-fancybox-group="gallery"><img src="~/Content/images/8.jpg" class="img-style row6" alt=""><span> </span></a>
					</div>
					<div class="gallery-grid wow bounceIn animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
						<a class="fancybox" href="~/Content//10-.jpg" data-fancybox-group="gallery"><img src="~/Content/images/10.jpg" class="img-style row6" alt=""><span> </span></a>
					</div>
					<div class="gallery-grid1 wow bounceIn animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
						<a class="fancybox" href="~/Content//9-.jpg" data-fancybox-group="gallery"><img src="~/Content/images/9.jpg" class="img-style row6" alt=""><span> </span></a>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
		<!-- //container -->
	</div>
	<!-- products-bottom -->
	
	<div class="copyright">
		<!-- container -->
		<div class="container">
			<div class="copyright-left wow fadeInLeft animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
				<p>Copyrights © 2016  <a href="http://www.nazirandco.org/areeba/"> Areeba Ilyas </a>
			</div>
			<div class="copyright-right wow fadeInRight animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
				<ul>
					<li><a href="#" class="twitter"> </a></li>
					<li><a href="#" class="twitter facebook"> </a></li>
					<li><a href="#" class="twitter chrome"> </a></li>
					<li><a href="#" class="twitter pinterest"> </a></li>
					<li><a href="#" class="twitter linkedin"> </a></li>
					<li><a href="#" class="twitter dribbble"> </a></li>
				</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
		<!-- //container -->
	</div>
</body>
</html>
