@{
    ViewBag.Title = "about";
}

<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>

<body>
	
	<!-- about -->
	<div class="about-top">
		<!-- container -->
		<div class="container">
			<div class="about-info wow fadeInLeft animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
				<h3>A few words about us</h3>
				<h5>We provide best quality of products. </span></h5>
			</div>
			<div class="banner-bottom-grids a-banner-bottom-grids">
				<div class="col-md-5 banner-bottom-right wow fadeInRight animated animated" data-wow-delay="0.5s" style="visibility: visible; -webkit-animation-delay: 0.5s;">
					<img src="~/Content/images/a1.jpg" alt="">
				</div>
				<div class="col-md-7 a-banner-bottom-text">
					<div class="jumbotron banner-bottom-left wow fadeInLeft animated animated" data-wow-delay="0.5s" style="visibility: visible; -webkit-animation-delay: 0.5s;">
					  <h3>Fertilizers and Pesticide point
					  </h3>
						<h5>Every type of seeds is avaiable in our shop. <span></span></h5>
						<p>Seeds are any substance or mixture of substances intended for preventing or destroying pests.Fertilizers and pesticides are among the many common stormwater pollutants that can degrade water quality.  Though fertilizers contain chemicals that are good for lawns and plants when used properly, excessive amounts applied to lawns and gardens wash off and pollute streams. 
						</p>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<!-- //container -->
	</div>
	<!-- //about -->
	<!-- about-bottom -->
	<div class="about-bottom">
		<!-- container -->
		<div class="container">
			<h3 class="wow fadeInRight animated" style="visibility: visible;">A new generation of farming</h3>
			<div class="about-bottom-grids">
				<div class="col-md-6 about-bottom-left wow fadeInLeft animated animated" data-wow-delay="0.5s" style="visibility: visible; -webkit-animation-delay: 0.5s;">
					<h4>Pesticides</h4>
					<p>Pesticides are any substance or mixture of substances intended for preventing or destroying pests.
                  HERBICIDE TERRESTRIAL
                 This pesticide is registered for unrestricted use.
                 This pesticide's toxicity code is 3, which corresponds to a toxicity category of Caution.
					</p>
				</div>
				<div class="col-md-6 about-bottom-left about-bottom-right wow fadeInRight animated animated" data-wow-delay="0.5s" style="visibility: visible; -webkit-animation-delay: 0.5s;">
					<h4>fertilizers</h4>
					<p>Fertilizers are made of nutrients, such as nitrogen and phosphorus. When it rains, these nutrients are carried by stormwater into the nearest stream, river, or other water body. Too many nutrients in water can cause algae to grow, which uses up the oxygen in the water. Low levels of oxygen in water can hurt aquatic wildlife and even lead to fish kills.
					</p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<!-- //container -->
	</div>
	
	<div class="copyright">
		<!-- container -->
		<div class="container">
			<div class="copyright-left wow fadeInLeft animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
				<p>Copyrights © 2016 <a href="http://www.nazirandco.org/areeba/"> Areeba Ilyas </a>
			</div>
			
			<div class="clearfix"> </div>
		</div>
		<!-- //container -->
	</div>
</body>
</html>
