@{
    ViewBag.Title = "index";
}


<!DOCTYPE html>
<html>

<body>
	
	<!-- banner-bottom -->
	<div class="banner-bottom">
		<!-- container -->
		<div class="container">
			<div class="banner-bottom-grids">
				<div class="col-md-7 banner-bottom-grid-text">
					<div class="jumbotron banner-bottom-left wow fadeInLeft animated" data-wow-delay="0.5s" style="visibility: visible; -webkit-animation-delay: 0.5s;	">
					  <h3>Fertilizers and Pesticides point</h3>
						<h5></span></h5>
						<p>Fertilizers and pesticides are among the many common stormwater pollutants that can degrade water quality.  Though fertilizers contain chemicals that are good for lawns and plants when used properly, excessive amounts applied to lawns and gardens wash off and pollute streams.</p>
						<div class="see-button">
							<a class="btn btn-primary btn-lg see-button hvr-shutter-out-horizontal" href="#" role="button">See More</a>
						</div>
					</div>
				</div>
				<div class="col-md-5 banner-bottom-right wow fadeInRight animated" data-wow-delay="0.5s" style="visibility: visible; -webkit-animation-delay: 0.5s;">
					<img src="~/Content/images/2.jpg" alt=""/>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<!-- //container -->
	</div>
	<!-- //banner-bottom -->
	<!-- specialty -->
	<div class="specialty">
		<!-- container -->
		

	<!-- //specialty -->
	<!-- testimonials -->
	<div class="testimonials">
		<div class="container">
			<div class="testimonial-nfo wow bounceIn animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
				<h3</h3>
				<h5>Seeds </span></h5>
			</div>
			<div class="testimonial-grids wow bounceIn animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
				<div class="testimonial-grid">
					<p><span>Though Seeds contain chemicals that are good for lawns and plants when used properly, excessive amounts applied to lawns and gardens wash off and pollute streams.</span></p>
				</div>
			</div>
		</div>
	</div>
	<!-- //testimonials -->
	<!-- news -->
	<div class="news">
		<div class="container">
			<div class="news-text">
				<h3>Gallery</h3>
				<h5>Some pictures about crops </span></h5>
			</div>
			<div class="news-grids">
				<div class="col-md-3 news-grid wow bounceIn animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
					<h4>Wheat</h4>
					<span></span>
					<img src="~/Content/images/img1.jpg" alt="" />
					<div class="news-info">
						<p>Fertilizers and pesticides are among the many common stormwater pollutants that can degrade water quality.  Though fertilizers contain chemicals that are good for lawns and plants when used properly, excessive amounts applied to lawns and gardens wash off and pollute streams.</p>
					</div>
				</div>
				<div class="col-md-3 news-grid wow bounceIn animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
					<h4>Crops <h4>
					<span></span>
					<img src="~/Content/images/img2.jpg" alt="" />
					<div class="news-info">
						<p>Fertilizers and pesticides are among the many common stormwater pollutants that can degrade water quality.  Though fertilizers contain chemicals that are good for lawns and plants when used properly, excessive amounts applied to lawns and gardens wash off and pollute streams.</p>
					</div>
				</div>
				<div class="col-md-3 news-grid wow bounceIn animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
					<h4>Sowing</h4>
					<span></span>
					<img src="~/Content/images/img3.jpg" alt="" />
					<div class="news-info">
						<p>Fertilizers and pesticides are among the many common stormwater pollutants that can degrade water quality.  Though fertilizers contain chemicals that are good for lawns and plants when used properly, excessive amounts applied to lawns and gardens wash off and pollute streams.</p>
					</div>
				</div>
				<div class="col-md-3 news-grid wow bounceIn animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
					<h4></h4>
					<span>Vegetables</span>
					<img src="~/Content/images/img4.jpg" alt="" />
					<div class="news-info">
						<p>Fertilizers and pesticides are among the many common stormwater pollutants that can degrade water quality.  Though fertilizers contain chemicals that are good for lawns and plants when used properly, excessive amounts applied to lawns and gardens wash off and pollute streams.</p>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //news -->

	<div class="copyright">
		<!-- container -->
		<div class="container">
			<div class="copyright-left wow fadeInLeft animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
				<p>Copyrights © 2016 <a href="http://www.nazirandco.org/areeba/"> Areeba Ilyas </a></p>
			</div>
			
			<div class="clearfix"> </div>
		</div>
		<!-- //container -->
	</div>
</body>
</html>
