@{
    ViewBag.Title = "signup";
}

<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>

<body>
	
	<!-- about -->
	<div class="about-top">
		<!-- container -->
		<div class="container">
			<div class="about-info wow fadeInLeft animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
				<h3>SignUp</h3>
				<div class="col-md-6 contact-form wow fadeInRight animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
					<form action ="../Home/addUser" method ="post">
                        
                        <br />
                        <br />
						<input type="text" placeholder="Name" required="" name ="un">
						<input type="text" placeholder="CNIC" required=""name ="ucnic">
						<input type="text" placeholder="Address" required="" name= "uadd">
                        <input type="text" placeholder="Role" required="" name ="ur">
                        <input type="text" placeholder="Password" required=""name = "upass">
                         <input type="text" placeholder="Confirmed Password" required="" name ="cpadd">
                         <input type="text" placeholder="User Name" required="" name ="uname">



						
						<input type="submit" value="Create Account">
                        <br />
                        <br />
					</form>
				</div>
			</div>
		
		<!-- //container -->
	</div>
	
	<div class="copyright">
		<!-- container -->
		<div class="container">
			<div class="copyright-left wow fadeInLeft animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
				<p> Copyrights © 2016 <a href="http://www.nazirandco.org/areeba/"> Areeba Ilyas </a></p>
			</div>
			<div class="copyright-right wow fadeInRight animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
				<ul>
					<li><a href="#" class="twitter"> </a></li>
					<li><a href="#" class="twitter facebook"> </a></li>
					<li><a href="#" class="twitter chrome"> </a></li>
					<li><a href="#" class="twitter pinterest"> </a></li>
					<li><a href="#" class="twitter linkedin"> </a></li>
					<li><a href="#" class="twitter dribbble"> </a></li>
				</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
		<!-- //container -->
	</div>
</body>
</html>